/* 
    GENERAL
*/

/* TYPOGRAPHY */

.small_font{
    font-size: 0.7rem;
}

.smaller_font{
    font-size: 0.5rem;
}

.code_icon{
    height: 1.25rem;
    width: 1.25rem;
    line-height: 1.25rem;
    background-color: #F36F5C;  
}

.code_icon i{
    height: 1.25rem;
    width: 1.25rem;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
}

/* INTERACTION */

.form-control:focus{
    background-color: initial;
    box-shadow: none;
}

.hover_effect:hover{
    background-color: white;
}

.hover_effect:hover  *{
    color: black;
}

/* COLORS */

:root{
    --bg_gray: #E5E5E5;
    --bg_blue: #1B72E8;
    --badge-blue: #165BBA;
}

.bg_lightgray{
    background-color: var(--bg_gray);
}

.bg_lightblue{
    background-color: var(--bg_blue);
}

.badge_blue{
    background-color: var(--badge-blue);
}

/* 
    HEADER
*/

header nav{
    height: 3.75rem;
}

.dropstart .dropdown-menu[data-bs-popper]{
    top: 40px;
    right: 10%;
    min-width: auto;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    border: none;
    color: #FF8F00;
}

/* 
    MAIN
*/

main{
    height: calc(100vh - 3.75rem);
}

.aside-layout{
    left: 0;
    top: 3.75rem;
    background-color: #0c3964;
    background-image: url(../img/sidebar-bg.png);
}

#offcanvasExample{
    width: 50%;
}

.email_margin{
    padding-left: 3.5rem;
}

.email_head{
    top: 0;
    left: 0;
    height: 100%;
    width: 3.125rem;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 1px solid lightgray;
    text-align: center;
}

table{
    font-size: 0.8rem;
    white-space: nowrap
}

td:first-of-type{
    width: 50%;
}


td > button{
    width: 1.25rem;
}


/* 
    RESPONSIVE
*/

@media screen and (max-width: 767px) {
    
    /* MAIN */

    .order_1{
        order: -1;
    }

    #offcanvasExample{
        width: 100%;
        border-left: none;
    }
}

@media screen and (max-width: 576px) {
    
    table{
        font-size: 0.6rem;
    }
}
