/* 
    GENERAL
*/

.form-control:focus{
    background-color: initial;
    box-shadow: none;
}

/* COLORS */

:root{
    --bg_gray: #E5E5E5;
    --bg_blue: #1B72E8;
    --badge-blue: #165BBA;
}

.bg_lightgray{
    background-color: var(--bg_gray);
}

.bg_lightblue{
    background-color: var(--bg_blue);
}

.badge_blue{
    background-color: var(--badge-blue);
}

/* 
    HEADER
*/

header nav{
    height: 3.75rem;
}

.dropstart .dropdown-menu[data-bs-popper]{
    top: 40px;
    right: 10%;
    min-width: auto;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    border: none;
    color: #FF8F00;
}

/* 
    MAIN
*/

.aside-layout{
    height: calc(100vh - 3.75rem);
    left: 0;
    top: 3.75rem;
    background-color: #132A40;
}

#offcanvasExample{
    width: 50%;
}

/* 
    RESPONSIVE
*/

@media screen and (max-width: 767px) {
    
    /* MAIN */

    .order_1{
        order: -1;
    }

    #offcanvasExample{
        width: 100%;
        border-left: none;
    }
}
